<%- include('../template/head')-%>
<body class="text-center">
    <div class="cover-container d-flex w-200 h-100 p-3 flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <h4 class="cover-heading">Mainframe Modernization Links</h4>
                <ul class="list-group">
                <% references.forEach(function(entry) {%>
                    <a href="<%= entry.url%>" class="list-group-item text-dark"><%=entry.name%></a>
                <%});%>
                </ul>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    //Set active nav link
    window.onload = function() {
        document.getElementById('references').classList.add('active');
    };
</script>
</html>